# creating dataframe from CSV

In [114]:
import pandas as pd

In [115]:
# reading csv file to dataframe
df_csv = pd.read_csv('./data/Jobs_NYC_Postings.csv', header=0)
# df_csv = pd.read_csv('./data/Jobs_NYC_Postings.csv', header=0, sep='\t')

In [116]:
df_csv[0:1]

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,606346,DEPARTMENT FOR THE AGING,External,1,Business Operations Analyst,ASSOCIATE STAFF ANALYST,Competitive-1,12627,00,"Administration & Human Resources Technology, D...",...,NaN,Please be sure to submit a resume & cover lett...,NaN,NaN,NaN,New York City residency is generally required ...,09/28/2023,27-DEC-2023,09/29/2023,11/20/2023

In [117]:
print(df_csv.shape)

(6186, 30)

In [118]:
df_csv.dtypes
# df_csv['column1'] = df_csv['column1'].astype('object')

Job ID                             int64
Agency                            object
Posting Type                      object
# Of Positions                     int64
Business Title                    object
Civil Service Title               object
Title Classification              object
Title Code No                     object
Level                             object
Job Category                      object
Full-Time/Part-Time indicator     object
Career Level                      object
Salary Range From                float64
Salary Range To                  float64
Salary Frequency                  object
Work Location                     object
Division/Work Unit                object
Job Description                   object
Minimum Qual Requirements         object
Preferred Skills                  object
Additional Information            object
To Apply                          object
Hours/Shift                       object
Work Location 1                   object
Recruitment Contact              float64
Residency Requirement             object
Posting Date                      object
Post Until                        object
Posting Updated                   object
Process Date                      object
dtype: object

In [119]:
df_csv = df_csv.fillna(0)

In [120]:
df_csv[0:1]

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,606346,DEPARTMENT FOR THE AGING,External,1,Business Operations Analyst,ASSOCIATE STAFF ANALYST,Competitive-1,12627,00,"Administration & Human Resources Technology, D...",...,0,Please be sure to submit a resume & cover lett...,0,0,0.0,New York City residency is generally required ...,09/28/2023,27-DEC-2023,09/29/2023,11/20/2023

In [121]:
df_csv_selected_rows = df_csv[df_csv['Business Title'] == 'Business Operations Analyst']
# df_selected_rows = df[df['Business Title'].str.contains('Business Operations Analyst')]
# df_selected_rows = df[df['Business Title'].isin(['Business Operations Analyst', 'CASE MANAGEMENT TEAM LEADER'])]

In [122]:
df_csv_selected_rows[0:]

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,606346,DEPARTMENT FOR THE AGING,External,1,Business Operations Analyst,ASSOCIATE STAFF ANALYST,Competitive-1,12627,00,"Administration & Human Resources Technology, D...",...,0,Please be sure to submit a resume & cover lett...,0,0,0.0,New York City residency is generally required ...,09/28/2023,27-DEC-2023,09/29/2023,11/20/2023
294,606346,DEPARTMENT FOR THE AGING,Internal,1,Business Operations Analyst,ASSOCIATE STAFF ANALYST,Competitive-1,12627,00,"Administration & Human Resources Technology, D...",...,0,Please be sure to submit a resume & cover lett...,0,0,0.0,New York City residency is generally required ...,09/28/2023,27-DEC-2023,09/29/2023,11/20/2023

# creating dataframe from JSON

In [123]:
import json

In [145]:
# reading json file to dataframe
# df_json_jobpost = pd.read_json('./data/Jobs_NYC_Postings.json')

In [125]:
df_json_jobpost = json.load(open('./data/Jobs_NYC_Postings.json'))
df_json_jobpost = pd.DataFrame(df_json_jobpost['data'])

In [126]:
df_json_jobpost[0:1]

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,row-wzh8_smbq_bb46,00000000-0000-0000-BD68-49DE154153B5,0,1700597468,None,1700597468,None,{ },606346,DEPARTMENT FOR THE AGING,...,None,Please be sure to submit a resume & cover lett...,None,None,None,New York City residency is generally required ...,2023-09-28T00:00:00,27-DEC-2023,2023-09-29T00:00:00,2023-11-20T00:00:00

In [127]:
# df_json_jobpost.iloc[0:1,[8,9]]
# df_json_jobpost.iloc[0:1,:]
df_json_jobpost.iloc[0:1,8:]

,8,9,10,11,12,13,14,15,16,17,...,28,29,30,31,32,33,34,35,36,37
0,606346,DEPARTMENT FOR THE AGING,External,1,Business Operations Analyst,ASSOCIATE STAFF ANALYST,Competitive-1,12627,00,"Administration & Human Resources Technology, D...",...,None,Please be sure to submit a resume & cover lett...,None,None,None,New York City residency is generally required ...,2023-09-28T00:00:00,27-DEC-2023,2023-09-29T00:00:00,2023-11-20T00:00:00

In [128]:
df_json_jobpost = df_json_jobpost.iloc[0:1,8:]

In [129]:
df_json_jobpost.columns = list(df_csv_selected_rows.columns.values)

In [130]:
df_json_jobpost[0:1]

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,606346,DEPARTMENT FOR THE AGING,External,1,Business Operations Analyst,ASSOCIATE STAFF ANALYST,Competitive-1,12627,00,"Administration & Human Resources Technology, D...",...,None,Please be sure to submit a resume & cover lett...,None,None,None,New York City residency is generally required ...,2023-09-28T00:00:00,27-DEC-2023,2023-09-29T00:00:00,2023-11-20T00:00:00

# creating dataframe from dictionary based JSON file

In [131]:
import json
from typing import List, Dict, Tuple, NoReturn

In [132]:
dict_jobpost: Dict = json.load(open("./data/Jobs_NYC_Postings_mini.json", "r", encoding="utf8"))

In [133]:
print (type(dict_jobpost))
dict_jobpost

<class 'dict'>

{'0': {'title': 'Business Operations Analyst',
  'company': 'Administration & Human Resources Technology, Data & Innovation Policy, Research & Analysis',
  'qualification': '1. A masterâ\x80\x99s degree from an accredited college or university, accredited by regional, national, professional or specialized agencies recognized as accrediting bodies by the U.S. Secretary of Education and the Council for Higher Education Accreditation (CHEA) in economics, finance, accounting, business or public administration, human resources management, management science, operations research, organizational behavior, industrial psychology, statistics, personnel administration, labor relations, psychology, sociology, human resources development, political science, urban studies or a closely related field, and one year of satisfactory full-time professional experience in one or a combination of the following: working with the budget of a large public or private concern in budget administration, accounting, economic or financial administration, or fiscal or economic research; or in management or methods analysis, operations research, organizational research or program evaluation; or in personnel or public administration, recruitment, position classification, personnel relations, labor relations, employee   benefits, staff development, employment program planning/administration, labor market research, economic planning, social services program planning/evaluation, or fiscal management; or in a related area; or  2. A baccalaureate degree from an accredited college or university, accredited by regional, national, professional or specialized agencies recognized as accrediting bodies by the U.S. Secretary of Education and the Council for Higher Education Accreditation (CHEA) and three years of satisfactory full-time professional experience in the areas described in â\x80\x81E above.'},
 '1': {'title': 'Executive Program Manager',
  'qualification': "At least six years of full-time satisfactory experience in construction management work on capital projects, each one of which must have had a dollar value of at least $15,000, at least eighteen months of which must have been in a managerial or consultative capacity in an organization responsible for the management of construction; and a combination of the following, sufficient to equal a total of ten years of education and experience:  a. Full-time satisfactory experience in construction inspection on capital projects, each one of which must have had a dollar value of at least $15,000. One year of acceptable experience will be credited for each year of construction inspection experience up to a maximum of four years.  b. Full-time satisfactory experience in building construction as a journeyperson in one or more of the skilled building construction trades. One year of acceptable experience will be credited for each year of journeyperson experience up to a maximum of four years.  c. Education in an accredited college leading to a bachelor's degree in architecture, landscape architecture, or air pollution control, chemical, civil including structural and bridge design, electrical, mechanical, or sanitary engineering will be credited on the basis of 30 credits for one year of acceptable experience up to a maximum of four years.  A New York State license as a professional engineer or registered architect or a license as a professional engineer or registered architect from a state that has reciprocity with New York State may be substituted for the four years of education and experience described in a, b and c above. However, all candidates must have at least six years of experience in construction management work described above, including at least eighteen months in a managerial or consultative capacity in an organization responsible for the management of construction.    License Requirements  Possession of a Motor Vehicle Driver License valid in the State of New York. Employees must maintain the license during their employment.",
  'company': 'Communications & Intergovernmental Affairs Engineering, Architecture, & Planning'},
 '2': {'title': 'Analyst  Energy Efficiency and Modernization',
  'qualification': '1. A baccalaureate degree from an accredited college.',
  'company': 'Finance, Accounting, & Procurement Policy, Research & Analysis'}}

In [134]:
dict_json_jobpost = json.dumps(dict_jobpost["0"])
df_dict_json_jobpost = json.loads(dict_json_jobpost)
df_dict_json_jobpost

{'title': 'Business Operations Analyst',
 'company': 'Administration & Human Resources Technology, Data & Innovation Policy, Research & Analysis',
 'qualification': '1. A masterâ\x80\x99s degree from an accredited college or university, accredited by regional, national, professional or specialized agencies recognized as accrediting bodies by the U.S. Secretary of Education and the Council for Higher Education Accreditation (CHEA) in economics, finance, accounting, business or public administration, human resources management, management science, operations research, organizational behavior, industrial psychology, statistics, personnel administration, labor relations, psychology, sociology, human resources development, political science, urban studies or a closely related field, and one year of satisfactory full-time professional experience in one or a combination of the following: working with the budget of a large public or private concern in budget administration, accounting, economic or financial administration, or fiscal or economic research; or in management or methods analysis, operations research, organizational research or program evaluation; or in personnel or public administration, recruitment, position classification, personnel relations, labor relations, employee   benefits, staff development, employment program planning/administration, labor market research, economic planning, social services program planning/evaluation, or fiscal management; or in a related area; or  2. A baccalaureate degree from an accredited college or university, accredited by regional, national, professional or specialized agencies recognized as accrediting bodies by the U.S. Secretary of Education and the Council for Higher Education Accreditation (CHEA) and three years of satisfactory full-time professional experience in the areas described in â\x80\x81E above.'}

In [135]:
dict_json_jobposts = json.dumps(all_jds)
df_dict_json_jobposts = pd.read_json(dict_json_jobposts, orient='index')

In [136]:
df_dict_json_jobposts[0:1]

,title,company,qualification
0,Business Operations Analyst,"Administration & Human Resources Technology, D...",1. A masterâs degree from an accredited coll...

In [137]:
print(df_dict_json_jobposts.shape)
df_dict_json_jobposts.dtypes

(3, 3)

title            object
company          object
qualification    object
dtype: object

# save as JSONL file and read

In [138]:
df_csv[0:1]

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,606346,DEPARTMENT FOR THE AGING,External,1,Business Operations Analyst,ASSOCIATE STAFF ANALYST,Competitive-1,12627,00,"Administration & Human Resources Technology, D...",...,0,Please be sure to submit a resume & cover lett...,0,0,0.0,New York City residency is generally required ...,09/28/2023,27-DEC-2023,09/29/2023,11/20/2023

In [139]:
df_csv.to_json("./data/Jobs_NYC_Postings.jsonl", orient='records', lines=True)

In [1]:
import pandas as pd

In [2]:
# reading jsonl file to dataframe
df_jsonl = pd.read_json('./data/Jobs_NYC_Postings.jsonl', orient='records', lines=True)

In [3]:
pd.get_option("display.max_columns")
pd.get_option("display.max_colwidth")
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_colwidth', 100)

df_jsonl[0:1]

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,Career Level,Salary Range From,Salary Range To,Salary Frequency,Work Location,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,606346,DEPARTMENT FOR THE AGING,External,1,Business Operations Analyst,ASSOCIATE STAFF ANALYST,Competitive-1,12627,00,"Administration & Human Resources Technology, Data & Innovation Policy, Research & Analysis",F,Experienced (non-manager),70611.0,81203.0,Annual,"2 Lafayette St., N.Y.",Human Resources,The Office of Human Resources (OHR) seeks a highly motivated individual to serve as a Business O...,"1. A masterâs degree from an accredited college or university, accredited by regional, nationa...",â¢ Project management experience and expertise is a plus. â¢ Self-starter; works independently...,0,Please be sure to submit a resume & cover letter when applying. All current City Employees may a...,0,0,0,"New York City residency is generally required within 90 days of appointment. However, City Emplo...",09/28/2023,27-DEC-2023,09/29/2023,11/20/2023

# creating dataframe from EXCEL

In [142]:
import pandas as pd

In [143]:
# reading excel file to dataframe
# df_excel = pd.read_excel('./data/Jobs_NYC_Postings.xlsx', index_col=0)
df_excel = pd.read_excel('./data/Jobs_NYC_Postings.xlsx')

In [144]:
df_excel[0:1]

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104
0,606346,DEPARTMENT FOR THE AGING,External,1,Business Operations Analyst,ASSOCIATE STAFF ANALYST,Competitive-1,12627,0,"Administration & Human Resources Technology, D...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN