# create sample dataframe

In [2]:
import pandas as pd
df = pd.DataFrame(columns=["title", "company", "qualification"])

responses = [
            ["Business Operations Analyst", "Administration & Human Resources Technology", "master's degree"],
            ["Executive Program Manager", "Communications & Intergovernmental Affairs Engineering, Architecture, & Planning", "bachelor's degree"],
            ["Analyst  Energy Efficiency and Modernization", "Finance, Accounting, & Procurement Policy, Research & Analysis", "bachelor's degree"]
            ]

i = 0
for response_item in responses:
    df.loc[i] = [response_item[0], response_item[1], response_item[2]]
    i+=1
df[0:3]

,title,company,qualification
0,Business Operations Analyst,Administration & Human Resources Technology,master's degree
1,Executive Program Manager,Communications & Intergovernmental Affairs Eng...,bachelor's degree
2,Analyst Energy Efficiency and Modernization,"Finance, Accounting, & Procurement Policy, Res...",bachelor's degree

# create series and insert into dataframe

In [9]:
series = pd.Series(["Data Scientist", "DataCamp", "bachelor's degree"], index=["title", "company", "qualification"])
print(type(series))

<class 'pandas.core.series.Series'>

In [5]:
df.loc[len(df)] = series
df[0:len(df)]

,title,company,qualification
0,Business Operations Analyst,Administration & Human Resources Technology,master's degree
1,Executive Program Manager,Communications & Intergovernmental Affairs Eng...,bachelor's degree
2,Analyst Energy Efficiency and Modernization,"Finance, Accounting, & Procurement Policy, Res...",bachelor's degree
3,Data Scientist,DataCamp,bachelor's degree

# create series and insert into specified columns of dataframe

In [7]:
series2 = pd.Series(["Data Engineer", "TechSoft", "bachelor's degree"], index=["title", "company", "qualification"])

In [8]:
df.loc[len(df), ["title", "company"]] = series2[["title", "company"]]
df[0:len(df)]

,title,company,qualification
0,Business Operations Analyst,Administration & Human Resources Technology,master's degree
1,Executive Program Manager,Communications & Intergovernmental Affairs Eng...,bachelor's degree
2,Analyst Energy Efficiency and Modernization,"Finance, Accounting, & Procurement Policy, Res...",bachelor's degree
3,Data Scientist,DataCamp,bachelor's degree
4,Data Engineer,TechSoft,NaN