In [1]:
import pandas as pd

In [2]:
df_csv = pd.read_csv('./Jobs_NYC_Postings.csv', header=0)
df_csv[0:1]

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,606346,DEPARTMENT FOR THE AGING,External,1,Business Operations Analyst,ASSOCIATE STAFF ANALYST,Competitive-1,12627,00,"Administration & Human Resources Technology, D...",...,NaN,Please be sure to submit a resume & cover lett...,NaN,NaN,NaN,New York City residency is generally required ...,09/28/2023,27-DEC-2023,09/29/2023,11/20/2023

# checking duplicated key values for job.csv

In [3]:
# Check for duplicates in the 'Job ID' column of df_csv DataFrame
duplicates = df_csv.duplicated(subset='Job ID')

# Check if there are no duplicates
if not duplicates.any():
    print("No duplicated values in the 'Job ID' column.")
else:
    print("There are duplicated values in the 'Job ID' column.")

There are duplicated values in the 'Job ID' column.

In [4]:
duplicates = df_csv.duplicated(subset='Job ID', keep=False)  # Mark all duplicates as True
duplicates_csv = df_csv[duplicates].sort_values('Job ID').reset_index(drop=True)
duplicates_csv[0:3]

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,469953,HRA/DEPT OF SOCIAL SERVICES,Internal,1,CONTRACT ANALYST,STAFF ANALYST,Competitive-1,12626,02,Administration & Human Resources Social Services,...,**LOAN FORGIVENESS The federal government pro...,APPLICANTS MUST BE IN THE PERMANENT IN THE STA...,NaN,NaN,NaN,New York City residency is generally required ...,07/26/2021,NaN,06/17/2022,11/20/2023
1,469953,HRA/DEPT OF SOCIAL SERVICES,External,1,CONTRACT ANALYST,STAFF ANALYST,Competitive-1,12626,02,Administration & Human Resources Social Services,...,**LOAN FORGIVENESS The federal government pro...,APPLICANTS MUST BE IN THE PERMANENT IN THE STA...,NaN,NaN,NaN,New York City residency is generally required ...,07/26/2021,NaN,06/17/2022,11/20/2023
2,470441,NYC HOUSING AUTHORITY,External,1,Heating Oversight Team Specialist,ASSOCIATE INSPECTOR (HOUSING),Competitive-1,31675,02,"Public Safety, Inspections, & Enforcement",...,1.\tEmployees serving in the title of or who m...,Click the Apply Now button.,NaN,NaN,NaN,NYCHA has no residency requirements.,08/02/2021,NaN,08/31/2021,11/20/2023

### eliminating duplicated key values

In [5]:
df_csv_distinct = df_csv.drop_duplicates(subset='Job ID', keep='first')
duplicates = df_csv_distinct.duplicated(subset='Job ID')

# Check if there are no duplicates
if not duplicates.any():
    print("No duplicated values in the 'Job ID' column.")
else:
    print("There are duplicated values in the 'Job ID' column.")

No duplicated values in the 'Job ID' column.

### output to csv

In [6]:
df_csv_distinct = df_csv_distinct.rename(columns={'Job ID': 'job_id'})
df_csv_distinct.to_csv('Jobs_NYC_Postings_distinct.csv', index=False)

# split columns for skill.csv

In [7]:
df_skill_csv = pd.read_csv('./technology_skill_30_by_job.csv', header=0)
df_skill_csv[0:1]

,similarity_score,technology_skill,job_id_title
0,0.83389,"(5625, 'Oracle HRIS')","(606346, Business Operations Analyst)"

In [8]:
# split technology_skill column safely
df_skill_csv['technology_skill'] = df_skill_csv['technology_skill'].str.replace(r"\(|\)|\'", '', regex=True)
# specify `n=1` to perform a maximum of 1 split (i.e., generate 2 columns)
df_skill_csv[['skill_id', 'skill_name']] = df_skill_csv['technology_skill'].str.split(',', n=1, expand=True)
df_skill_csv.drop('technology_skill', axis=1, inplace=True)

# split job_id_title column safely
df_skill_csv['job_id_title'] = df_skill_csv['job_id_title'].str.replace(r'\(|\)', '', regex=True)
# specify `n=1` to perform a maximum of 1 split (i.e., generate 2 columns)
df_skill_csv[['job_id', 'job_title']] = df_skill_csv['job_id_title'].str.split(',', n=1, expand=True)
df_skill_csv.drop('job_id_title', axis=1, inplace=True)

df_skill_csv[0:3]

,similarity_score,skill_id,skill_name,job_id,job_title
0,0.833890,5625,Oracle HRIS,606346,Business Operations Analyst
1,0.824317,3603,Human resources management system HRMS,606346,Business Operations Analyst
2,0.824258,5682,OrangeHRM,606346,Business Operations Analyst

In [9]:
df_skill_csv.drop_duplicates(inplace=True)
df_skill_csv.to_csv('technology_skill_30_by_job_split.csv', index=False)